* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
}

.navbar {
  background-color: black;
  color: rgb(139, 130, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 20px;
}
.caruso-wine {
  font-size: 4rem;
  width: 70px;
}

#row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}
.navbar a {
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-weight: 300;
}

#row li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#row li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(131, 123, 123);
  transition: 0.3s ease-in-out;
}
#row li a:hover,
#row li a.active {
  color: white;
}
#row li a:hover::after,
#row li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: gray;
  position: relative;
}
