* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-decoration: none;
  margin: 2px;
  padding: 2px;
}

.itemCart {
  display: flex;
  border-bottom: 1px solid gray;
  max-width: 500px;
  margin: 1rem auto;
  left: auto;
}

.itemCart {
  width: 500px;
  margin-inline-start: 1rem;
  background: fixed;
  object-fit: cover;
  transition: 0.5s;
}

.itemCart p {
  color: rgb(12, 12, 11);
}

.itemCart button {
  border-radius: 0%;
  background-color: rgb(235, 229, 229);
  background: rgb(235, 216, 216);
}
