* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
  margin: 2px;
  padding: 2px;
}

.itemCart {
  display: flex;
  border-bottom: 1px solid gray;
  max-width: 500px;
  margin: 1rem auto;
  left: auto;
}

.itemCart {
  width: 200px;
  margin-inline-start: 1rem;
  background: fixed;
}
