.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-cantainer {
  text-align: center;
  padding: 15% 0;
}
.banner h1 {
  margin-top: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 62px;
  font-weight: bold;
}
.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px black;
}
